!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %title Calendar
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-light.bg-light.navbar-expand-lg
      .container
        %ul.navbar-nav
          %li.nav-item= link_to 'Calendar', root_path, class: 'nav-link'
          %li.nav-item= link_to 'Users', users_path, class: 'nav-link'
        %ul.navbar-nav.ml-auto
          - if user_signed_in?
            %li.nav-item.nav-link.active Logged in as #{current_user.email}
            %li.nav-item= link_to 'Edit profile', edit_user_registration_path, class: 'nav-link'
            %li.nav-item= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link'
          - else
            %li.nav-item= link_to 'Sign up', new_user_registration_path, class: 'nav-link'
            %li.nav-item= link_to 'Log in', new_user_session_path, class: 'nav-link'
    .container.mt-2
      - flash.each do |message_type, message|
        %div{class: "alert alert-#{message_type == 'notice' ? 'success' : 'info'}"}
          %button.close{'data-dismiss': 'alert', type: 'button'} ×
          #{message}
      = yield
